/* CSS Variables */
:root{
    --primary:#ddd;
    --secondary:rgb(230, 230, 230);
    --dark:#333;
    --darklighter:rgb(87, 87, 87);
    --light:#fff;
    --lightsections:rgb(248, 248, 248);
    --blue:#33475b;
    --text:#595d61;
    --textop:#595d50;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    /* color: var(--dark); */
}

body{
    background: var(--primary);
}

.logo{
    height: 40px;
    width: auto;
}

.logo:hover{
    cursor:pointer;
}

/* Header */

/* #header{
    background: var(--light);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid var(--secondary);
    font-size: 0.9rem;
} */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  /* position: fixed; */
  width: 100%;
  background: var(--light);
  color: var(--text);
  opacity: 0.85;
  height: 54px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.navbar-items {
  order: 2;
  display: flex;
}

.navbar-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.navbar-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar-items a:hover {
  color: #ea9735;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.logo {
  order: 1;
  font-size: 1.7rem;
  color: #ea9735;
}

/* Jumbotron */
#main{
    background: var(--light);
    color: var(--text);
}

.jumbotron{
    display: flex;
    flex-direction: column;
}


.jumbotron-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron .content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron .content-wrapper h2{
    display: flex;
    justify-content:center;
    padding-top: 2rem;
    margin: 0;
    font-size: 1.5rem;
}

.jumbotron .content-wrapper p{
    display: flex;
    justify-content:center;
    padding: .8rem;
    text-align: center;
    margin: 0;
    font-size: 1.1rem;
}

.jumbotron-form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    font-size: 1rem;
    width: 30%;
    height: 4rem;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.form input{
    font-size: 1rem;
    width: 80%;
    height: 100%;
    color: var(--text);
    padding-bottom: 1rem;
    border: none;
    outline: none;
}

.form label{
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 80%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black ;
}

.form label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ea9735;;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(150%);
    font-size: 0.8rem;
    color: var(--textop);
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

.form i{
    width: 15%;
}

.form i:hover{
    cursor: pointer;
}

/* Cards */
.cards-section{
    max-width: 1200px;
    margin: 0 auto;
}

.cards-text{
    text-align: center;
    width: 100%;
    border-top: 2px solid var(--secondary);
    margin-top: 0.8rem;
    padding: 0.8rem;
}

.card img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }

  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .cards {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;
  }

  .cards-item {
    display: flex;
    padding: 1rem;
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px var(--shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card-content {
    padding: 1rem;
    background: linear-gradient(to right,#eaa735 0%,#ea9735 100%);
    /* linear-gradient(to bottom left, #333 40%, #666 100%); */
  }
  
  .card-title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card-text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }

/* Additional info */

.additional-info-img img{
    width: 500px;
    height: 400px;
}

#additional-info{
    background: var(--secondary);
    display: flex;
    justify-content: center;
}

.additional-info-wrapper{
    display: flex;
    align-items: center;
}

.additional-info-img{
    padding: 0 0.7rem;
    margin: 0;
    height: 100%;
}

.additional-info-content h4{
    padding: 1rem;
    left: 0;
}

.additional-info-content a{
    background: var(--dark);
    text-decoration: none;
    color: var(--light);
    padding: 0.5rem;
    border-radius: 15px;
    left: 0;
}

.additional-info-content a:hover{
    background: var(--light);
    color: var(--dark);
}

/* Footer */

#footer{
    background: var(--lightsections);
    padding: 10px 0;
}


.socials{
    display: flex;
    width: 100%;
    justify-content: center;
}

.socials i{
    padding: 1rem 2rem;
}

.socials i:hover{
    cursor: pointer;
}

.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-info-items{
    display: flex;

    
}
.footer-info ul li{
    list-style: none;
    padding: 0.1rem 2rem;
    font-size: 0.8rem;
}

.footer-info ul li:hover{
    cursor: pointer;
}

/* Footer Subscribe section */

.newsletter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.newsletter-wrapper p{
    width: 50%;
    text-align: right;
    padding: .1rem 1rem;
    font-weight: bold;
}

.newsletter-input-wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;

}

.news-form{
    font-size: 1rem;
    width: 30%;
    height: 4rem;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.news-form input{
    background: var(--lightsections);
    font-size: 1rem;
    width: 80%;
    height: 100%;
    color: var(--text);
    padding-bottom: 1rem;
    border: none;
    outline: none;
}

.news-form label{
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 80%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black ;
}

.news-form label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--secondary);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.news-content-name{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.news-form input:focus + .news-label-name .news-content-name,
.news-form input:valid + .news-label-name .news-content-name{
    transform: translateY(150%);
    font-size: 0.8rem;
}

.news-form input:focus + .news-label-name::after,
.news-form input:valid + .news-label-name::after{
    transform: translateX(0%);
}

.news-form i{
    width: 15%;
}

.news-form i:hover{
    cursor: pointer;
}

@media screen and (max-width:768px){

    /* Cards Section */
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
      }

    .cards-item{
        width: 100%;
    }

    /* navbar section */

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .navbar-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .navbar-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .navbar-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

}
